<ion-card>
  <ion-card-subtitle class ="ion-margin">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-margin" (click)="openNews()">
        <span>{{index+1}}.</span>
        <span>{{noticia.date}}</span>
      </ion-col>
      <ion-col align="right">
        <ion-button (click)="openMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-card-subtitle>

  <ion-card-title class="ion-padding-horizontal ion-margin-botton">
    <span>
      <ion-img [src]="noticia._embedded['wp:featuredmedia']['0'].source_url" (click)="openNews()"></ion-img>
    </span>
    <span (click)="openNews()">
      {{noticia.title.rendered}}
    </span>
    <ion-card-content>
      <p [innerHTML]="noticia.excerpt.rendered"></p>
    </ion-card-content>
  </ion-card-title>

</ion-card>